/*5. Apply an external styling to a paragraph tag..*/
.external   {
		color: hotpink !important;
	}

/*6. Change the font-family and the font size of all elements using the universal selector*/
* {
	color: black;
	font-family: "Arial", monospace;
	font-size: 20px;
}

/*7. Change the font-size of h1 tags using a type selector.*/
h1 {
	font-size: 50px;
}

/*8. Change the text to all uppercase letters for h2 tags using an id selector.*/
#bootcamp {
	text-transform: uppercase;
}

/*9. Change the background colors of the languages to be learn list items using class selectors.*/
.languages {
	background-color: lightpink;
}

/*10. Change the border of the tools to be used list items using a attribute selectors.*/
ol [title] {
	border-width:  2px;
	border-style: solid;
	border-color: navy;
}

/*11. Change the list style type of the other things to be learned list using an adjacent sibling selector.*/
img + ul {
	list-style: none;
}

/*12. Change the dimensions of the image tag using a descendant selector.*/
section img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*13. Change the alignment of the last paragraph using a generic sibling selector.*/
h4 ~ p { 
	color: black !important;
	text-align: center;
 }

/*14. Change the letter spacing of the other things to be learned list items using a child selector.*/
body > section > ul {
	letter-spacing: 15px;
}
