/*CTRL + / -- comments in CSS*/
/*External Styling*/

/*CSS Rules

	selector {
		property: value;
	}

	h1 {
		color: yellow;
	}

	h1 {color: yellow;}
*/

/*Universal Selector*/
/*The * symbol is the universal selector*/
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

html {
	scroll-behavior: smooth;
}
/*changes the scrolling behavior when clicking on anchor tags*/

body {
		background-color: skyblue;
}

nav {
	background-color: white;
}

/*selector:  hover pseudo class*/
/*change sthe style while hovered over*/

a:hover {
	background-color: #b4d6de;
}
/*a: hover psuedo class will chnge style of an element when it is hovered over*/

div {
	display: inline-block;
	float: right;
}

/*landing section*/
section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style: none;
}

/*register section*/

form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button	{
	background-color: #cf0053;
	color: white;
	border:  0;
	border-radius: 15px;
}

/*Type Selector*/
/*tag-name*/

h1 {
	color: yellow !important;
}

/*ID selector*/
/*#id-name*/

#zuitt-motto {
	letter-spacing: 5px;
}

/*Specificty Rules*/
/*h3 {
	letter-spacing: 25px;
}
*/

/*Adjacent Sibling Selector*/
/*selector + selector*/

/*h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}*/

#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;

}

/*Class Selector*/
/*.class-name*/

.offering-item {
	text-transform: uppercase;
}

/*Descendant Selector*/
/*selector selector*/

#bootcamp-learning-list li {
	color: #075966;
}

/*General Sibling Selector*/
/*selector ~ selector*/

h2 ~ a { 
	text-decoration: none;
 }


 /*Child Selector*/
 /*selector > selector*/

 body > section > form > label {
 	color: rgb(0,0,128);
 }

/*Attribute Selector*/
/*tagname[attribute]*/

input[required]{
	border-width:  2px;
	border-style: solid;
	border-color: navy;
}